form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-right: 85%;
    margin-left: 2%;
    padding: 10px;
    height: 50%;
}

span {
    color: red;
}

button {
    margin-right: 60%;
}

#cgu {
    margin-right: 94%;
}

form {
    border: 1px solid black;
    border-radius: 10px;
}